.wrapper {
  background: #eeeeee;
  min-height: 100vh;
  width: 100%; }

.test1 {
  width: 100%;
  height: 100%; }

.landing__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background: #2b2d42 url("./assets/img/plants_1.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  padding: 100px;
  text-align: center; }
  .landing__header h1 {
    background: rgba(0, 0, 0, 0.178);
    color: rgba(240, 227, 227, 0.836);
    text-shadow: 2px 2px 4px #000000;
    padding: 100px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 100px; }
  .landing__header .btn__googleLogin {
    background: #ea4335;
    padding: 15px 30px;
    border-radius: 10px;
    font-weight: bold;
    color: white; }

.landing__info {
  padding-top: 180px;
  padding-bottom: 230px; }

.landing__info {
  width: 100%;
  background: #eeeeee; }
  .landing__info .info__title {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center; }
    .landing__info .info__title h2 {
      font-weight: bold;
      color: #333;
      font-size: 5rem; }
  .landing__info .info__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; }
  .landing__info .info__card {
    width: 400px;
    min-height: 360px;
    margin-bottom: 50px;
    background: white; }
    .landing__info .info__card .info__header {
      padding: 20px 35px;
      text-align: center; }
      .landing__info .info__card .info__header img {
        max-width: 180px;
        height: auto; }
    .landing__info .info__card .info__header--one {
      background: #f69f09; }
    .landing__info .info__card .info__header--two {
      background: #31aa53; }
    .landing__info .info__card .info__header--three {
      background: #a857bd; }
    .landing__info .info__card .info__desc {
      padding: 20px; }
      .landing__info .info__card .info__desc .info__subtitle {
        font-weight: bold; }

@media screen and (max-width: 600px) {
  .landing__header {
    padding: 5px; }
    .landing__header h1 {
      padding: 20px;
      letter-spacing: 0.6rem;
      font-size: 2rem; }

  .landing__info .info__title h2 {
    font-size: 2rem; }
  .landing__info .info__box {
    display: flex;
    flex-direction: column; }
  .landing__info .info__card {
    width: 90%; }
    .landing__info .info__card .info__desc {
      padding: 10px; } }
.content {
  background: #eeeeee;
  position: relative;
  float: right;
  width: calc(100% - 180px);
  padding: 20px;
  display: flex;
  justify-content: center; }

.workspace {
  max-width: 1200px;
  width: 100%;
  padding: 20px; }

.title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2; }

@media screen and (max-width: 600px) {
  .content {
    padding: 0; } }
.sidebar {
  min-height: 100vh;
  position: relative;
  width: 180px;
  background: #2b2d42;
  color: white; }
  .sidebar .logo {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 20px;
    padding: 10px;
    color: #ef233c;
    font-weight: 500;
    border-bottom: 1px solid #ef233c;
    text-decoration: none; }
  .sidebar .logo:hover {
    color: #2b2d42;
    text-decoration: none;
    background: #ef233c;
    transition: .3s; }

.sidebar .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.sidebar .nav > li {
  position: relative;
  display: block;
  margin: 5px 15px;
  padding: 5px 10px; }

.sidebar .nav li:hover {
  text-decoration: none;
  color: white; }

.sidebar .nav li:hover {
  background-color: #8d99ae;
  color: white;
  border-radius: 8px;
  opacity: 1; }

.sidebar .nav li a {
  text-decoration: none;
  color: white;
  opacity: .86;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center; }

.sidebar .nav i {
  font-size: 0.8rem;
  margin-right: 15px;
  line-height: 20px;
  width: 30px;
  text-align: center; }

.sidebar .nav span {
  margin-left: 20px;
  line-height: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase; }

.sidebar__user {
  position: absolute;
  bottom: 120px;
  text-align: center;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  width: 100%; }
  .sidebar__user p {
    padding: 5px; }
  .sidebar__user span {
    display: block;
    background: #ef233c;
    padding: 3px;
    border-radius: 4px; }

.form__field {
  width: 100%;
  margin-bottom: 20px; }
  .form__field label {
    display: block; }

.habitAdd__button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #ef233c;
  color: #eeeeee;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
  transition: .3s; }

.habitAdd__button:hover {
  background: #d71f36;
  color: #eeeeee;
  text-decoration: none;
  bottom: 60px;
  right: 60px;
  box-shadow: 10px 10px #2b2d42;
  transition: .3s;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes example {
  0% {
    background-color: #d71f36; }
  50% {
    background-color: #ef233c; }
  100% {
    background-color: #d71f36; } }

/*# sourceMappingURL=style.css.map */
