node_modules/
**/node_modules/
*/**/node_modules/

dist/
dist/**
config/keys.js
**/*.bundle.js
**/*.bundle.min.js
yarn.lock
yarn-error.log
note.md

# Logs
npm-debug.log
**/**/*.log

#IDE ignore
.idea/
.vscode/
