@import '../../variable';


.landing{
    min-height: 100vh;
    width: 100%;
    background: $primaryDark;
    color: #333;
    padding: 100px;
    text-align: center;

}

@media screen and (max-width: 600px){
    .landing{
        padding: 5px;    
    } 
}