@import '../../variable';

.sidebar{
    min-height: 100vh;
    position: relative;
    width: 180px;
    background: $primaryDark;
    color: $white;
    .logo {
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding: 10px;
        color: $secondary;
        font-weight: 500;
        border-bottom: 1px solid $secondary;
        text-decoration: none;
    }

    .logo:hover{
        color: $primaryDark;
        text-decoration: none; 
        background: $secondary; 
        transition: .3s;   
    }
}


.sidebar .nav { 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sidebar .nav > li {
    position: relative;
    display: block;
    //width: 90%;
    margin: 5px 15px;
    padding: 5px 10px;
}


.sidebar .nav li:hover{
    text-decoration: none;
    color: $white;
}

.sidebar .nav li:hover{
    background-color:$primaryLight;
    color: $white;
    border-radius: 8px;
    opacity: 1;
}

.sidebar .nav li a {
    text-decoration: none;
    color: $white;
    opacity: .86;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
}

.sidebar .nav i {
    font-size: 0.8rem;
    margin-right: 15px;
    line-height: 20px;
    width: 30px;
    text-align: center;
}
.sidebar .nav span {
    margin-left: 20px;
    line-height: 30px;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}



.sidebar__user{
    position: absolute;
    bottom:120px;
    text-align:center;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    width: 100%;

    p{
        padding: 5px;
    }

    span {
        display: block;
        background: $secondary;
        padding: 3px;
        border-radius: 4px;
    }
}