
@import './variable';


.wrapper{
    background: $grey;
    min-height: 100vh;
    width: 100%;
}

.test1{
    width: 100%;
    height: 100%;
    
}

@import './sass/components/landing';
@import './sass/components/content';
@import './sass/components/sidebar';
@import './sass/components/habit/habitNew';
