
$primaryDark: rgba(43, 45, 66, 1);
$primaryLight: rgba(141, 153, 174, 1);
$secondary: rgba(239, 35, 60, 1);
$secondaryDark: rgb(215,31,54);
$grey: rgba(238, 238, 238, 1);
$white: rgba(255, 255, 255, 1);


$sm: 600px;
$md: 800px;
$lg: 1200px;


$brandGoogleRed: #ea4335;