.sidebar{
    min-height: 100vh;
    position: relative;
    width: 260px;
    background: #616161;
    color: #fff;
}


.sidebar .logo {
    width: 100%;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
    color: #FF5722;
    background: #263238;
}


.sidebar .nav { 
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.sidebar .nav > li {
    position: relative;
    display: block;
    //width: 90%;
    margin: 5px 15px;
    padding: 10px 15px;
}


.sidebar .nav li:hover{
    text-decoration: none;
    color: #fff;
}

.sidebar .nav li:hover{
    background-color:#757575;
    color: #fff;
    border-radius: 8px;
    opacity: 1;
}

.sidebar .nav li a {
    text-decoration: none;
    color: #fff;
    opacity: .86;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
}

.sidebar .nav i {
    font-size: 28px;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}
.sidebar .nav span {
    margin-left: 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}